In [33]:
import pandas as pd

In [34]:
mesh_sets = pd.read_csv("../mesh_sets.tsv", sep='\t', header=None)

In [35]:
mesh_sets

,0,1,2
0,"Arrhythmias, Cardiac",D001145,meshd016170;meshd000219;meshd050030;meshd00114...
1,Kidney Diseases,D007674,meshd016263;meshd000141;meshd058186;meshd01986...
2,Cardiomyopathies,D009202,meshd000092183;meshd019571;meshd002310;meshd00...
3,Mental Disorders,D001523,meshd015526;meshd000275;meshd000341;meshd00037...
4,Digestive System Abnormalities,D004065,meshd000071056;meshd001006;meshd001656;meshd01...
...,...,...,...
89,Bone Marrow Diseases,D001855,meshd000741;meshd029503;meshd029502;meshd00075...
90,Hemoglobinopathies,D006453,meshd056586;meshd000755;meshd006445;meshd00645...
91,Hemorrhagic Disorders,D006474,meshd000347;meshd001606;meshd003449;meshd00421...
92,Leukocyte Disorders,D007960,meshd000380;meshd000796;meshd002609;meshd06414...
93,Thrombophilia,D019851,meshd020016;meshd020152;meshd004211;meshd02015...

In [36]:
# Deals with Mesh
def format_mesh_member(input_string):
    numbers = ""
    for char in reversed(input_string):
        if char.isdigit():
            numbers = char + numbers
        else:
            break
    return "MESH:D" + numbers

new_rows = []
for index, row in mesh_sets.iterrows():
    new_rows.append(['Disease', format_mesh_member(row[1])])
    set_members = row[2].split(';')
    for member in set_members:
        formatted_member = format_mesh_member(member)
        new_rows.append(['Disease', formatted_member])
mesh_sets_pb= pd.DataFrame(new_rows)
mesh_sets_pb

            0             1
0     Disease  MESH:D001145
1     Disease  MESH:D016170
2     Disease  MESH:D000219
3     Disease  MESH:D050030
4     Disease  MESH:D001146
...       ...           ...
4186  Disease  MESH:D020152
4187  Disease  MESH:D004211
4188  Disease  MESH:D020151
4189  Disease  MESH:D018455
4190  Disease  MESH:D011697

[4191 rows x 2 columns]

In [37]:
mesh_sets_pb.to_csv("mesh_sets_pb.tsv", sep='\t', header=None)

In [38]:
kegg_genesets = pd.read_csv("../kegg_geneset.tsv",  sep='\t', header=None)
pid_genesets = pd.read_csv("../pid_geneset.tsv",  sep='\t', header=None)
bio_genesets = pd.read_csv("../bio_geneset.tsv",  sep='\t', header=None)
bp_genesets = pd.read_csv("../bp_geneset.tsv",  sep='\t', header=None)
genesets=[kegg_genesets,pid_genesets,bio_genesets,bp_genesets]

In [39]:
kegg_genesets

,0,1,2
0,KEGG_GALACTOSE_METABOLISM,M4377,ncbigene231;ncbigene2538;ncbigene2548;ncbigene...
1,KEGG_PORPHYRIN_AND_CHLOROPHYLL_METABOLISM,M7399,ncbigene10720;ncbigene10941;ncbigene124454;ncb...
2,KEGG_PROXIMAL_TUBULE_BICARBONATE_RECLAMATION,M4361,ncbigene10991;ncbigene1468;ncbigene23439;ncbig...
3,KEGG_ENDOCYTOSIS,M1519,ncbigene10015;ncbigene10059;ncbigene10193;ncbi...
4,KEGG_PANCREATIC_CANCER,M9726,ncbigene10000;ncbigene1019;ncbigene1021;ncbige...
...,...,...,...
177,KEGG_GLYCOSAMINOGLYCAN_BIOSYNTHESIS_HEPARAN_SU...,M7330,ncbigene11285;ncbigene126792;ncbigene135152;nc...
178,KEGG_TRYPTOPHAN_METABOLISM,M980,ncbigene10352;ncbigene11185;ncbigene121278;ncb...
179,KEGG_AMINO_SUGAR_AND_NUCLEOTIDE_SUGAR_METABOLISM,M8104,ncbigene10007;ncbigene10020;ncbigene1118;ncbig...
180,KEGG_SMALL_CELL_LUNG_CANCER,M3228,ncbigene10000;ncbigene1017;ncbigene1019;ncbige...
181,KEGG_SULFUR_METABOLISM,M18256,ncbigene10380;ncbigene166012;ncbigene445329;nc...

In [40]:
# Deals with Genes
def formart_genesets(geneset):
    def format_gene(input_string):
        numbers = ""
        for char in reversed(input_string):
            if char.isdigit():
                numbers = char + numbers
            else:
                break
        return numbers

    new_rows = []
    for index, row in geneset.iterrows():
        set_members = row[2].split(';')
        for member in set_members:
            formatted_member = format_gene(member)
            new_rows.append(['Gene', formatted_member])
    geneset_df = pd.DataFrame(new_rows)
    return geneset_df

In [41]:
kegg_genesets_new = formart_genesets(kegg_genesets)
pid_genesets_new = formart_genesets(pid_genesets)
bio_genesets_new = formart_genesets(bio_genesets)
bp_genesets_new = formart_genesets(bp_genesets)

In [42]:
dataframes_to_concat = [kegg_genesets_new, pid_genesets_new, bio_genesets_new, bp_genesets_new]
gene_sets_pb = pd.concat(dataframes_to_concat, ignore_index=True)
gene_sets_pb

          0     1
0      Gene   231
1      Gene  2538
2      Gene  2548
3      Gene  2582
4      Gene  2584
...     ...   ...
49447  Gene  9653
49448  Gene  9953
49449  Gene  9955
49450  Gene  9956
49451  Gene  9957

[49452 rows x 2 columns]

In [43]:
mesh_sets_pb

            0             1
0     Disease  MESH:D001145
1     Disease  MESH:D016170
2     Disease  MESH:D000219
3     Disease  MESH:D050030
4     Disease  MESH:D001146
...       ...           ...
4186  Disease  MESH:D020152
4187  Disease  MESH:D004211
4188  Disease  MESH:D020151
4189  Disease  MESH:D018455
4190  Disease  MESH:D011697

[4191 rows x 2 columns]

In [44]:
gene_sets_pb.to_csv("gene_sets_pb.tsv", sep='\t', header=None)

In [45]:
# All concepts in single df
all_concepts_df= pd.concat([mesh_sets_pb,gene_sets_pb], ignore_index=True)
all_concepts_df = all_concepts_df.reset_index(drop=True)
all_concepts_df

             0             1
0      Disease  MESH:D001145
1      Disease  MESH:D016170
2      Disease  MESH:D000219
3      Disease  MESH:D050030
4      Disease  MESH:D001146
...        ...           ...
53638     Gene          9653
53639     Gene          9953
53640     Gene          9955
53641     Gene          9956
53642     Gene          9957

[53643 rows x 2 columns]

In [46]:
all_concepts_df.to_csv("all_concepts.tsv", sep='\t', header=None)